In [120]:
import pandas as pd
import numpy as np
import os
import pandas.io.sql as pd_sql
from psycopg2 import DatabaseError
from istdsa import connPool as cp,query as q
import psycopg2 as pg

In [113]:
path='C:/Users/anar.baylarov/Desktop/anar/Github/airlines/main'
os.chdir(path)
%ls

 Volume in drive C has no label.
 Volume Serial Number is B05C-7CB8

 Directory of C:\Users\anar.baylarov\Desktop\anar\Github\airlines\main

21.04.2020  20:37    <DIR>          .
21.04.2020  20:37    <DIR>          ..
21.04.2020  19:37    <DIR>          .ipynb_checkpoints
21.04.2020  20:37             5.685 airline_overbook.ipynb
21.04.2020  20:29    <DIR>          istdsa
               1 File(s)          5.685 bytes
               4 Dir(s)  169.100.775.424 bytes free

In [114]:
%run -i istdsa/query.py

Postgres veritabanı bağlantısı başarılı.

In [117]:
host='aws server ip adresi yazilacak buraya'
connection_args = {
    'host': host,
    'dbname': 'airlines',
    'user': 'ubuntu',
    'port': 5432
}

In [122]:
connection = pg.connect(**connection_args)
query='select * from final_airlines_data limit 5;'
pd_sql.read_sql(query, connection)

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,year,quarter,month,seats_v1,passengers_v1,null_seats,null_seats_prop,day_per_departures_perf,distance_grouped,is_overbooked
0,81.0,80.0,3472000.0,12730,11259,0.0,0.0,2704.0,33879.0,31085.0,...,2016,4,12,159,141,18,0.11,2.67,4,1
1,84.0,0.0,0.0,0,0,0.0,0.0,1310.0,0.0,0.0,...,2016,2,4,0,0,0,0.00,0.00,3,0
2,84.0,79.0,2583300.0,9796,8730,7932.0,0.0,259.0,5193.0,3435.0,...,2016,3,9,124,111,13,0.10,2.63,0,1
3,86.0,0.0,0.0,0,0,0.0,0.0,834.0,0.0,0.0,...,2016,1,2,0,0,0,0.00,0.00,1,0
4,88.0,0.0,0.0,0,0,0.0,0.0,620.0,0.0,0.0,...,2016,1,3,0,0,0,0.00,0.00,1,0